@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');@font-face {
    font-family: "Booter - Zero Zero";
    src: 
    url(./Fonts/booter-zero-zero/BOOTERFF.ttf) format("woff"),
    url(Fonts/booter-zero-zero/BOOTERZF.ttf) format("woff2");
    font-weight: normal;
    font-style: normal;
}
/* todo min 49 https://www.youtube.com/watch?v=kMT54MPz9oE&list=RDCMUC8butISFwT-Wl7EV0hUK0BQ&start_radio=1&t=366s*/

* {
   box-sizing: border-box;
   font-family: Raleway;
   color: #777;
}

/* El html Y el body */
html, body {
    margin: 0;
    padding: 0;
}
/* Todos los ul dentro de los NAV */
nav ul{
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.main-nav li {
    padding: 0 5%;
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.nav a:hover {
    background-color: rgba(255, 255, 255, .3);
}

.main-header {
    /* Le añadimos un color negro semi transparente al fondo */
    background-color: rgba(0, 0, 0, .6);
    /* Le anteponemos la imagen que deseamos */
    background-image: url("imgs/BackgroundColorful.jpg");
    /* Le decimos que el fondo negro y la imagen se "Mezclen", con el objetivo de crear una imagen mas oscurita */
    background-blend-mode: multiply;
    /* Que se estire o achique dependiendo del tamaño de la pantalla */
    background-size: cover;
    padding-bottom: 3rem;
}
.band-name {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: "Booter - Zero Zero";
    font-weight: normal;
    color: white;
}
.band-name-large{
    font-size: 8em;
}
.content-section{
    margin: 1em;
}
.container{
    max-width: 85%; /*En el tutorial usan 900px*/
    margin: 0 auto;
    padding: 0 1.5em ; /*0 top and bottom // 1.5em left and right*/
}
.section-header{
    font-family: "Metal Mania";
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}
.about-band-image{
    float: left;
    height: 200px;
    width: 200px;
    margin: 15px;
    border-radius: 50%; 
}